{% style %}
  #shopify-section-{{section.id}} .section-content {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    Background: {{ section.settings.background_color }};
  }

  #shopify-section-{{section.id}} .section-content .section-subtitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #01BAC4;
  }
  #shopify-section-{{section.id}} .section-content .section-title {
    line-height: 119%;
    /* identical to box height, or 60px */
    text-align: center;
    letter-spacing: -0.01em;
    color: #0F2038;
  }

  #shopify-section-{{section.id}} .content-wrap {
    margin-top: 60px;
  }
  #shopify-section-{{section.id}} .accordion__item {
    border-bottom: 1px solid #00000006;
  }
  #shopify-section-{{section.id}} .accordion__item__header {
    padding: 20px 20px 20px 0px;
    cursor: pointer;
    position: relative;
    color: #000;
  }
  #shopify-section-{{section.id}} .accordion__item__header .question {
    line-height: 119%;
  }
  #shopify-section-{{section.id}} .accordion__item__header::before {
    height: 16px;
    width: 16px;
    content: '';
    position: absolute;
    right: 25px;
    top: 23px;
    transition: 0.5s all;
    transform: rotate(45deg);
    border-right: 3px solid #01BAC4;
    border-bottom: 3px solid #01BAC4;
  }

  #shopify-section-{{section.id}} .accordion__item__header.active {
    transition: 0.5s;
  }

  #shopify-section-{{section.id}} .accordion__item__header.active::before {
    transform: rotate(-135deg);
  }

  #shopify-section-{{section.id}} .accordion__item__content {
    overflow-y: auto;
    padding: 0;
    display: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px 0px 20px 0px;
    margin-top: -4px;
  }
  #shopify-section-{{section.id}} .accordion__item__header.active + .accordion__item__content {
    display: block;
  }
  #shopify-section-{{section.id}} .content-wrap .image-content {
    text-align: center;
  }



  {% if section.settings.layout_width != 'half_width' %}
    #shopify-section-{{section.id}} .content-wrap .image-content {
      width: 40%;
    }
    #shopify-section-{{section.id}} .content-wrap .image-content img {
      max-width: 700px;
    }
    @media (max-width: 1600px) {
      #shopify-section-{{section.id}} .content-wrap .text-content {
        width: 50%;
      }
    }
    @media (max-width: 1400px) {
      #shopify-section-{{section.id}} .content-wrap .image-content img {
        max-width: 100% !important;
        width: 100% !important;
      }
    }
  {% endif %}

  @media (max-width: 1000px) {
    #shopify-section-{{section.id}} .content-wrap {
      flex-direction: column;
      gap: 0px;
    }
    #shopify-section-{{section.id}} .content-wrap .faq-content,
    #shopify-section-{{section.id}} .content-wrap .image-content
    {
      width: 100%;
    }
    #shopify-section-{{section.id}} .left-image {
      display: block;
      text-align: center;
    }
    #shopify-section-{{section.id}} .right-image {
        display: none;
    }
    #shopify-section-{{section.id}} .heading,
    #shopify-section-{{section.id}} .section-button {
      text-align: center;
    }
  }
  @media (max-width: 749px) {
    #shopify-section-{{section.id}} .section-subtitle {
      font-size: 16px !important;
      line-height: 180%;
    }
    #shopify-section-{{section.id}} .section-subtitle p {
      margin: 0px;
    }
    #shopify-section-{{section.id}} .heading br,
    #shopify-section-{{section.id}} .review-text br
    {
      display: none;
    }
    #shopify-section-{{section.id}} .section-title {
        font-size: 32px !important;
    }
    #shopify-section-{{section.id}} .section-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #shopify-section-{{section.id}} .left-image img {
        object-fit: cover;
        width: 100%;
    }
    #shopify-section-{{section.id}} .accordion__item__header .question,
    #shopify-section-{{section.id}} .accordion__item__header .answer {
      font-size: 16px !important;
    }
    #shopify-section-{{section.id}} .accordion__item__header::before {
      height: 12px;
      width: 12px;
      top: 17px;
    }
    #shopify-section-{{section.id}} .accordion__item__header {
      padding: 16px 16px 16px 0px;
    }
  }

{% endstyle %}

<div class="section-content">
  <div class="section-main-container">
    <div class="wrapper page-width">
      {% if section.settings.subtitle != blank %}
        <div class="section-subtitle h3 fs-20 fw-600 font__Poppins text-align-center">
          {{ section.settings.subtitle }}
        </div>
      {% endif %}
      {% if section.settings.heading != blank %}
        <div class="section-title font-bold rte fs-50 fw-700 font__Lexend-Deca text-align-center">
          {{ section.settings.heading }}
        </div>
      {% endif %}
      <div class="content-box"></div>
    </div>

    <div class="page-width">
      {% comment %} Begin text content {% endcomment %}
      <div class="content-wrap d-flex">
        <div class="image-content left-image {% if section.settings.layout_width == 'half_width' %}half-width{% endif %} {% if section.settings.layout == 'right_image' %} display-none {% endif %}">
          {% if section.settings.section_image != blank %}
            <img src="{{ section.settings.section_image | image_url: width: 1000 }}">
          {% endif %}
        </div>

        <div class="faq-content {% if section.settings.layout_width == 'half_width' %}half-width{% endif %}">
          {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
              <div class="FaQ_Each accordion__item">
                <section class="accordion__item__header">
                  {% if block.settings.question != blank %}
                    <div class="question fs-24 fw-600 font__Lexend-Deca">{{ block.settings.question }}</div>
                  {% endif %}
                </section>
                <section class="accordion__item__content">
                  {% if block.settings.answer != blank %}
                    <div class="answer fs-16 fw-400 font__Poppins">{{ block.settings.answer }}</div>
                  {% endif %}
                </section>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        {% comment %} End text contetn {% endcomment %}

        <div class="image-content right-image {% if section.settings.layout_width == 'half_width' %}half-width{% endif %}  {% if section.settings.layout == 'left_image' %} display-none {% endif %}">
          {% if section.settings.section_image != blank %}
            <img src="{{ section.settings.section_image | image_url: width: 1000 }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script>
  if ($('#shopify-section-{{section.id}} .accordion__item__header').length > 0) {
    var active = 'active';
    $('#shopify-section-{{section.id}} .accordion__item__header').click(function () {
      $(this).toggleClass(active);
    });
  }
</script>

{% schema %}
{
  "name": "DDW image with faq",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "image_picker",
      "id": "section_image",
      "label": "Section image"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "left_image",
          "label": "Left image"
        },
        {
          "value": "right_image",
          "label": "Right image"
        }
      ],
      "default": "right_image",
      "label": "Layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "half_width",
          "label": "Half width"
        },
        {
          "value": "auto_width",
          "label": "Auto width"
        }
      ],
      "default": "half_width",
      "label": "Layout width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "DDW image with faq"
    }
  ]
}
{% endschema %}
