{% style %}
  {%- if section.settings.bck_image != blank -%}
    #shopify-section-{{section.id}} .section-content {
      background-image: url({{ section.settings.bck_image | image_url:width: 2048 }});
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: bottom;
    }
  {%- endif -%}
  #shopify-section-{{section.id}} .mobile-image {
    display: none;
  }
  #shopify-section-{{section.id}} .section-main-content {
    display: flex;
    margin-top: 41px;
    justify-content: center;
    gap: 40px;
  }
  #shopify-section-{{section.id}} .section-title {
    line-height: 119%;
    letter-spacing: -0.01em;
  }
  #shopify-section-{{section.id}} .section-content {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-bottom: 40px;
  }

  #shopify-section-{{section.id}} .card-box {
    max-width: 310px;
    background: #fff;
    color: #fff;
    margin-bottom: 1px;
    padding: 18px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  #shopify-section-{{section.id}} .card-box:before,
  #shopify-section-{{section.id}} .card-box:after {
    width: 20px;
    height: 50%;
    position: absolute;
    left: 100%;
    content: "";
  }
  #shopify-section-{{section.id}} .card-box.right-card:before,
  #shopify-section-{{section.id}} .card-box.right-card:after {
    right: 100%;
    left: unset;
  }
  #shopify-section-{{section.id}} .left-card:before {
    top: 0px;
    background: linear-gradient(to right top, #fff 50%, transparent 50%)
  }

  #shopify-section-{{section.id}} .right-card:before {
    top: 0px;
    background: linear-gradient(to left top, #fff 50%, transparent 50%)
  }

  #shopify-section-{{section.id}} .left-card:after {
    top: 50%;
    background: linear-gradient(to right bottom, #fff 50%, transparent 50%)
  }
  #shopify-section-{{section.id}} .right-card:after {
    top: 50%;
    background: linear-gradient(to left bottom, #fff 50%, transparent 50%)
  }

  #shopify-section-{{section.id}} .text-box .title {
    color: #0F2038;
  }
  #shopify-section-{{section.id}} .text-box .text {
    color: #1B1B1B;
  }
  #shopify-section-{{section.id}} .card-box {
    display: flex;
    gap: 10px;
  }
  #shopify-section-{{section.id}} .main-image {
    margin-top: 70px;
  }
  #shopify-section-{{section.id}} .main-image img {
    max-width: 410px;
  }
  #shopify-section-{{section.id}} .left-card:nth-child(2) {
    margin-left: -36px;
  }
  #shopify-section-{{section.id}} .right-card:nth-child(2) {
    margin-left: 36px;
  }
  #shopify-section-{{section.id}} .section-main-content {
    position: relative;
  }
  #shopify-section-{{section.id}} .section-button {
    position: absolute;
    right: 120px;
    bottom: 69px;
  }
  #shopify-section-{{section.id}} .section-button a {
    text-decoration: none;
  }

  @media (max-width: 1000px) {
    #shopify-section-{{section.id}} .section-button {
      right: 0px;
    }
    /* #shopify-section-{{section.id}} .left-box {
      display: none;
    } */
    #shopify-section-{{section.id}} .section-main-content {
      flex-direction: column;
      align-items: center;
    }
    #shopify-section-{{section.id}} .card-box {
      margin-bottom: 14px;
    }
    #shopify-section-{{section.id}} .card-box:before,
    #shopify-section-{{section.id}} .card-box:after {
      height: unset;
    }
    #shopify-section-{{section.id}} .left-card:nth-child(2) {
      margin-left: 0px;
    }
    #shopify-section-{{section.id}} .right-card:nth-child(2) {
      margin-left: 0px;
    }
    #shopify-section-{{section.id}} .main-image {
      margin-top: 10px;
    }
    #shopify-section-{{section.id}} .mobile-image {
      display: block;
    }
    #shopify-section-{{section.id}} .desktop-image {
      display: none;
    }
    #shopify-section-{{section.id}} .right-box {
      margin-top: -40px;
  }
    #shopify-section-{{section.id}} .section-button {
      width: 100%;
      text-align: center;
      bottom: -76px;
    }
  }

  @media (max-width: 749px) {
    {%- if section.settings.bck_image != blank -%}
      #shopify-section-{{section.id}} .section-content {
        background-image: url({{ section.settings.mob_bck_image | image_url:width: 1000 }});
        background-position-y: bottom;
      }
    {% endif %}
    #shopify-section-{{section.id}} .section-title {
      font-size: 32px !important;
    }
    #shopify-section-{{section.id}} .text-box .title {
      font-size: 16px !important;
    }
    #shopify-section-{{section.id}} .text-box .text {
      font-size: 14px !important;
    }
    #shopify-section-{{section.id}} .section-button a {
      font-size: 32px !important;
    }
  }

  @media (max-width: 500px) {
    #shopify-section-{{section.id}} .main-image img {
      max-width: 100%;
    }
    #shopify-section-{{section.id}} .section-content {
      padding-top: 40px;
      padding-bottom: 130px;
      margin-bottom: 30px;
    }
  }
{% endstyle %}

<div class="section-content">
  <div class="section-header page-width">
    {% if section.settings.subtitle != blank %}
      <div class="section-subtitle h3 fc-white fs-20 fw-600 font__Poppins text-align-center font-white">
        {{ section.settings.subtitle }}
      </div>
    {% endif %}
    {% if section.settings.title != blank %}
      <div class="section-title font-bold rte fc-white fs-50 fw-700 font__Lexend-Deca text-align-center font-white">
        {{ section.settings.title }}
      </div>
    {% endif %}
  </div>
  <div class="page-width section-main-content">

    <div class="main-image mobile-image">
      {% if section.settings.main_image != blank %}
        <img src="{{ section.settings.main_image | image_url: width: 600 }}">
      {% endif %}
    </div>

    {% if section.blocks.size > 0 %}
      <div class="left-box">
        {% for block in section.blocks %}
          {% if block.settings.layout == 'left_card' %}
            <div class="left-card card-box">
              <div class="icon">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | image_url: width: 30 }}">
                {% endif %}
              </div>
              <div class="text-box">
                {% if block.settings.title != blank %}
                  <p class="title fs-20 fw-600 m-0 font__Lexend-Deca">{{ block.settings.title }}</p>
                {% endif %}
                {% if block.settings.text != blank %}
                  <p class="text fs-16 fw-400 m-0 font__Poppins">{{ block.settings.text }}</p>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="main-image desktop-image">
      {% if section.settings.main_image != blank %}
        <img src="{{ section.settings.main_image | image_url: width: 600 }}">
      {% endif %}
    </div>

    {% if section.blocks.size > 0 %}
      <div class="right-box">
        {% for block in section.blocks %}
          {% if block.settings.layout == 'right_card' %}
            <div class="right-card card-box">
              <div class="icon">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | image_url: width: 30 }}">
                {% endif %}
              </div>
              <div class="text-box">
                {% if block.settings.title != blank %}
                  <p class="title fs-20 fw-600 m-0 font__Lexend-Deca">{{ block.settings.title }}</p>
                {% endif %}
                {% if block.settings.text != blank %}
                  <p class="text fs-16 fw-400 m-0 font__Poppins">{{ block.settings.text }}</p>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="section-button">
      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="fc-white fs-42 fw-700 font__Lexend-Deca">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
    
  </div>
</div>

{% schema %}
{
  "name": "DDW image with cards",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bck_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "mob_bck_image",
      "label": "Mobile background image"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main image"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subitle"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "left_card",
              "label": "Left card"
            },
            {
              "value": "right_card",
              "label": "Right card"
            }
          ],
          "default": "right_card",
          "label": "Layout"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "DDW image with cards"
    }
  ]
}
{% endschema %}
