{% style %}
  #shopify-section-{{section.id}} .section-content {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    Background: {{ section.settings.background_color }};
  }
  #shopify-section-{{section.id}} .section-title {
    line-height: 119%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0F2038;
  }
  #shopify-section-{{section.id}} .section-title strong {
    color: #01BAC4;
  }
  #shopify-section-{{section.id}} .section-content .section-subtitle {
    line-height: 180%;
    /* identical to box height, or 36px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #01BAC4;
  }
  #shopify-section-{{section.id}} .section-content .section-subtitle p {
    margin: 0px;
  }
  #shopify-section-{{section.id}} .client-name {
    line-height: 180%;
    color: #1B1B1B;
  }
  #shopify-section-{{section.id}} .review-text {
    line-height: 180%;
    color: #242424;
  }
  #shopify-section-{{section.id}} .review-wrap {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  #shopify-section-{{section.id}} .review-image-wrap {
    display: flex;
    width: 405px;
    flex-wrap: wrap;
    gap: 5px;
  }
  #shopify-section-{{section.id}} .review-image-wrap .client-photo {
    width: 191px;
    height: 191px;
  }
  #shopify-section-{{section.id}} .review-image-wrap .client-photo img {
    width: 100%;
    height: 100%;
  }
  #shopify-section-{{section.id}} .review-text-wrap {
    width: calc(100% - 405px);
  }
  #shopify-section-{{section.id}} .client-review {
    margin-bottom: 31px;
  }
  #shopify-section-{{section.id}} .section-main-content {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    margin-top: 40px;
  }
  @media (max-width: 999px) {
    #shopify-section-{{section.id}} .review-wrap {
      flex-direction: column;
    }
    #shopify-section-{{section.id}} .review-image-wrap {
      width: 100%;
      justify-content: center;
    }
    #shopify-section-{{section.id}} .review-text-wrap {
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    #shopify-section-{{section.id}} .section-main-content {
      padding: 16px;
    }
    #shopify-section-{{section.id}} .review-image-wrap .client-photo {
      width: calc(50% - 5px);
      height: 150px;
    }
    #shopify-section-{{section.id}} .section-title {
      font-size: 32px !important;
    }
    #shopify-section-{{section.id}} .section-title br {
      display: none;
    }
    #shopify-section-{{section.id}} .section-subtitle {
      font-size: 16px !important;
    }
    #shopify-section-{{section.id}} .client-review .client-name {
      font-size: 16px !important;
    }
    #shopify-section-{{section.id}} .client-review .review-text {
      font-size: 15px !important;
    }
    /* #shopify-section-{{section.id}} .review-wrap {
      margin-top: 32px;
    } */
    #shopify-section-{{section.id}} .section-content {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
{% endstyle %}

<div class="section-content">
  <div class="section-header page-width">
    {% if section.settings.subtitle != blank %}
      <div class="section-subtitle h3 fs-20 fw-600 font__Poppins text-align-center font-white">
        {{ section.settings.subtitle }}
      </div>
    {% endif %}
    {% if section.settings.heading != blank %}
      <div class="section-title font-bold rte fs-50 fw-700 font__Lexend-Deca text-align-center font-white">
        {{ section.settings.heading }}
      </div>
    {% endif %}
  </div>

  <div class="page-width">
    <div class="section-main-content">
      {% if section.blocks.size > 0 %}
        <div class="review-wrap">
          <div class="review-image-wrap">
            {% for block in section.blocks %}
              {% if block.settings.client_photo != blank %}
                <div class="client-photo">
                  <img src="{{ block.settings.client_photo | image_url:width: 200 }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="review-text-wrap">
            {% for block in section.blocks %}
              <div class="client-review">
                {% if block.settings.client_name != blank %}
                  <div class="client-name fw-700 fs-18 font__Lexend-Deca">
                    <svg width="101" height="17" viewBox="0 0 101 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.0049 16.9905C13.8867 16.9912 13.7702 16.9632 13.6654 16.9089L8.9414 14.4371L4.21157 16.9089C4.09076 16.9758 3.95326 17.007 3.81526 16.9987C3.67726 16.9905 3.5445 16.9431 3.43259 16.8623C3.32068 16.7815 3.23427 16.6705 3.18353 16.5424C3.1328 16.4143 3.11984 16.2745 3.14619 16.1393L4.04767 10.8927L0.219322 7.185C0.121834 7.08977 0.0530529 6.96927 0.0207572 6.83713C-0.0115386 6.70499 -0.0060597 6.56648 0.0365759 6.43728C0.0792115 6.30808 0.157303 6.19334 0.262013 6.10604C0.366724 6.01874 0.493872 5.96236 0.629083 5.94329L5.89745 5.1796L8.23895 0.405121C8.29949 0.283474 8.39294 0.181089 8.50878 0.109508C8.62462 0.037928 8.75824 0 8.89457 0C9.0309 0 9.16452 0.037928 9.28036 0.109508C9.3962 0.181089 9.48965 0.283474 9.55019 0.405121L11.8917 5.1796L17.1601 5.94329C17.2948 5.96326 17.4212 6.02029 17.5252 6.10795C17.6291 6.19561 17.7064 6.31043 17.7484 6.43948C17.7904 6.56853 17.7954 6.70669 17.7628 6.8384C17.7302 6.97011 17.6613 7.09015 17.564 7.185L13.7356 10.8985L14.6429 16.1452C14.6653 16.28 14.6498 16.4183 14.5982 16.5448C14.5465 16.6714 14.4607 16.7812 14.3503 16.8622C14.2472 16.9321 14.1287 16.9761 14.0049 16.9905Z" fill="#F2A52A"/>
                      <path d="M34.6172 16.9934C34.499 16.9949 34.3822 16.9668 34.2777 16.9118L29.5537 14.44L24.8239 16.9118C24.7029 16.9753 24.5665 17.004 24.4301 16.9947C24.2936 16.9854 24.1624 16.9386 24.0512 16.8593C23.9407 16.7783 23.8549 16.6685 23.8033 16.5419C23.7516 16.4154 23.7361 16.2771 23.7585 16.1423L24.6658 10.8956L20.8375 7.18213C20.74 7.08689 20.6712 6.96639 20.6389 6.83425C20.6066 6.70211 20.6121 6.5636 20.6547 6.4344C20.6974 6.3052 20.7755 6.19046 20.8802 6.10316C20.9849 6.01586 21.112 5.95949 21.2473 5.94041L26.5156 5.17673L28.8571 0.402245C28.9201 0.281518 29.015 0.18023 29.1316 0.109333C29.2482 0.0384364 29.382 0.000629276 29.5186 0C29.6545 0.000397596 29.7876 0.0381704 29.9033 0.109151C30.019 0.180131 30.1127 0.28156 30.1742 0.402245L32.5157 5.17673L37.7841 5.94041C37.9193 5.95949 38.0464 6.01586 38.1511 6.10316C38.2559 6.19046 38.3339 6.3052 38.3766 6.4344C38.4192 6.5636 38.4247 6.70211 38.3924 6.83425C38.3601 6.96639 38.2913 7.08689 38.1938 7.18213L34.3655 10.8956L35.2728 16.1423C35.2952 16.2771 35.2797 16.4154 35.2281 16.5419C35.1764 16.6685 35.0906 16.7783 34.9801 16.8593C34.8725 16.934 34.7476 16.9801 34.6172 16.9934Z" fill="#F2A52A"/>
                      <path d="M55.2471 16.9934C55.1288 16.9956 55.0118 16.9675 54.9076 16.9118L50.1777 14.44L45.4538 16.9118C45.3328 16.9753 45.1964 17.004 45.06 16.9947C44.9235 16.9854 44.7923 16.9386 44.6811 16.8593C44.5706 16.7783 44.4848 16.6685 44.4331 16.5419C44.3815 16.4154 44.366 16.2771 44.3884 16.1423L45.2957 10.8956L41.4674 7.18213C41.3699 7.08689 41.3011 6.96639 41.2688 6.83425C41.2365 6.70211 41.242 6.5636 41.2846 6.4344C41.3273 6.3052 41.4053 6.19046 41.5101 6.10316C41.6148 6.01586 41.7419 5.95949 41.8771 5.94041L47.1455 5.17673L49.487 0.402245C49.5485 0.28156 49.6422 0.180131 49.7579 0.109151C49.8736 0.0381704 50.0067 0.000397596 50.1426 0C50.2792 0.000629276 50.413 0.0384364 50.5296 0.109333C50.6462 0.18023 50.7411 0.281518 50.8041 0.402245L53.1456 5.17673L58.414 5.94041C58.5492 5.95949 58.6763 6.01586 58.781 6.10316C58.8857 6.19046 58.9638 6.3052 59.0065 6.4344C59.0491 6.5636 59.0546 6.70211 59.0223 6.83425C58.99 6.96639 58.9212 7.08689 58.8237 7.18213L54.9954 10.8956L55.9027 16.1423C55.9251 16.2771 55.9096 16.4154 55.8579 16.5419C55.8063 16.6685 55.7205 16.7783 55.61 16.8593C55.5024 16.934 55.3775 16.9801 55.2471 16.9934Z" fill="#F2A52A"/>
                      <path d="M75.8563 16.9905C75.7362 16.9919 75.6176 16.9639 75.5109 16.9089L70.787 14.4371L66.0806 16.9089C65.9599 16.9741 65.8231 17.0039 65.6861 16.9948C65.5491 16.9858 65.4175 16.9382 65.3066 16.8576C65.1956 16.777 65.1099 16.6668 65.0594 16.5396C65.0088 16.4125 64.9955 16.2737 65.021 16.1393L65.9225 10.8927L62.1 7.185C62.0002 7.0916 61.9295 6.9716 61.8963 6.8393C61.8631 6.707 61.8688 6.56798 61.9127 6.43881C61.9551 6.31062 62.0322 6.19657 62.1355 6.10915C62.2387 6.02174 62.3642 5.96435 62.4981 5.94329L67.7664 5.1796L70.1079 0.405121C70.1685 0.283474 70.2619 0.181089 70.3778 0.109508C70.4936 0.037928 70.6272 0 70.7635 0C70.8999 0 71.0335 0.037928 71.1493 0.109508C71.2652 0.181089 71.3586 0.283474 71.4192 0.405121L73.7607 5.1796L79.029 5.94329C79.1638 5.96326 79.2902 6.02029 79.3942 6.10795C79.4981 6.19561 79.5754 6.31043 79.6174 6.43948C79.6594 6.56853 79.6644 6.70669 79.6318 6.8384C79.5992 6.97011 79.5303 7.09015 79.4329 7.185L75.6046 10.8985L76.5119 16.1452C76.5357 16.28 76.5208 16.4188 76.4691 16.5456C76.4173 16.6724 76.3307 16.7821 76.2192 16.8622C76.1112 16.935 75.9863 16.9792 75.8563 16.9905Z" fill="#F2A52A"/>
                      <path d="M96.4813 16.9905C96.3612 16.9919 96.2426 16.9639 96.1359 16.9089L91.412 14.4371L86.6821 16.9089C86.562 16.9692 86.4274 16.9951 86.2933 16.9837C86.1592 16.9722 86.031 16.9239 85.9229 16.8441C85.8148 16.7642 85.7311 16.6561 85.6812 16.5316C85.6313 16.4072 85.6171 16.2714 85.6402 16.1393L86.5416 10.8927L82.7133 7.185C82.6135 7.0916 82.5428 6.9716 82.5096 6.8393C82.4764 6.707 82.4821 6.56798 82.526 6.43881C82.5684 6.31062 82.6455 6.19657 82.7488 6.10915C82.852 6.02174 82.9775 5.96435 83.1113 5.94329L88.3797 5.1796L90.7212 0.405121C90.7817 0.283474 90.8752 0.181089 90.991 0.109508C91.1069 0.037928 91.2405 0 91.3768 0C91.5132 0 91.6468 0.037928 91.7626 0.109508C91.8785 0.181089 91.9719 0.283474 92.0324 0.405121L94.3739 5.1796L99.6423 5.94329C99.777 5.96326 99.9035 6.02029 100.007 6.10795C100.111 6.19561 100.189 6.31043 100.231 6.43948C100.273 6.56853 100.278 6.70669 100.245 6.8384C100.212 6.97011 100.144 7.09015 100.046 7.185L96.2237 10.8985L97.1252 16.1452C97.149 16.28 97.1341 16.4188 97.0824 16.5456C97.0306 16.6724 96.944 16.7821 96.8325 16.8622C96.7279 16.9332 96.6072 16.9773 96.4813 16.9905Z" fill="#F2A52A"/>
                    </svg>
                    {{ block.settings.client_name }}
                  </div>
                {% endif %}
                {% if block.settings.review_text != blank %}
                  <div class="review-text fs-16 fw-400 font__Poppins">
                    {{ block.settings.review_text }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "DDW custom review",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "client_review",
      "name": "Client review",
      "settings": [
        {
          "type": "text",
          "id": "client_name",
          "label": "Client name"
        },
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review text"
        },
        {
          "type": "image_picker",
          "id": "client_photo",
          "label": "Client photo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "DDW custom review"
    }
  ]
}
{% endschema %}
