{% style %}
  #shopify-section-{{section.id}} .section-content {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  #shopify-section-{{section.id}} .content-wrap {
      gap: 60px;
  }
  #shopify-section-{{section.id}} .heading {
      letter-spacing: -0.01em;
      margin-top: 0px;
      margin-bottom: 32px;
  }
  #shopify-section-{{section.id}} .heading p {
    margin: 0px;
  }
  #shopify-section-{{section.id}} .heading img {
    margin-top: 12px;
  }
  #shopify-section-{{section.id}} .heading strong {
      color: #01BAC4;
  }
  #shopify-section-{{section.id}} .section-text-wrap {
    margin-bottom: 50px;
  }
  #shopify-section-{{section.id}} .section-text {
      line-height: 180%;
      color: #242424;
      margin-top: 0px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
  }
  #shopify-section-{{section.id}} .section-text p {
    margin: 0px;
    margin-left: 8px;
  }
  #shopify-section-{{section.id}} .block-text {
      display: flex;
      justify-content: center;
      gap: 13px;
      margin-top: 38px;
  }
  #shopify-section-{{section.id}} .block-text .text {
      line-height: 100%;
  }

  @media (max-width: 1000px) {
      #shopify-section-{{section.id}} .content-wrap {
          flex-direction: column;
          gap: 0px;
      }
      #shopify-section-{{section.id}} .content-wrap .text-content,
      #shopify-section-{{section.id}} .content-wrap .image-content
      {
          width: 100%;
      }
      #shopify-section-{{section.id}} .left-image {
          display: block;
          text-align: center;
      }
      #shopify-section-{{section.id}} .right-image {
          display: none;
      }
      #shopify-section-{{section.id}} .heading,
      #shopify-section-{{section.id}} .section-button {
          text-align: center;
      }
  }
  @media (max-width: 749px) {
      #shopify-section-{{section.id}} .heading br {
        display: none;
      }
      #shopify-section-{{section.id}} .heading {
         font-size: 32px !important;
      }
      #shopify-section-{{section.id}} .section-text {
          font-size: 14px !important;
      }
      #shopify-section-{{section.id}} .block-area {
          display: flex;
          justify-content: center;
      }
      #shopify-section-{{section.id}} .block-text {
          align-items: flex-start;
          flex-direction: column;
          gap: 10px;
          margin-top: 29px;
      }
      #shopify-section-{{section.id}} .section-content {
          padding-top: 50px;
          padding-bottom: 50px;
      }
      #shopify-section-{{section.id}} .left-image img {
          object-fit: cover;
          width: 100%;
      }
  }
{% endstyle %}

<div class="section-content page-width">
  {% comment %} Begin text content {% endcomment %}
  <div class="content-wrap d-flex">
    <div class="half-width image-content left-image {% if section.settings.layout == 'right_image' %} display-none {% endif %}">
      {% if section.settings.section_image != blank %}
        <img src="{{ section.settings.section_image | image_url: width: 1000 }}">
      {% endif %}
    </div>

    <div class="half-width text-content">
      {% if section.settings.heading != blank %}
        <h2 class="heading fw-700 fs-44 font__Lexend-Deca">
          {{ section.settings.heading | split: '</p>' }}
          {% if section.settings.heading_image != blank %}
            <img src="{{ section.settings.heading_image | image_url: width: 300 }}">
          {% endif %}
        </h2>
      {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="section-text-wrap">
          {% for block in section.blocks %}
            {% if block.settings.block_text != blank %}
              <div class="section-text fw-500 fs-17 font__Poppins">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g style="mix-blend-mode:multiply">
                  <path d="M9 0C4.02943 0 0 4.02943 0 9C0 13.9706 4.02943 18 9 18C13.9706 18 18 13.9706 18 9C18 4.02943 13.9706 0 9 0ZM7.7143 12.9351L3.81818 9.03895L5.18186 7.67528L7.71427 10.2078L12.4967 5.42531L13.8604 6.78899L7.7143 12.9351Z" fill="#ABDA2E"/>
                  </g>
                </svg>
                {{ block.settings.block_text }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if section.settings.button_link != blank %}
        <div class="section-button d-flex">
          <a href="{{ section.settings.button_link }}" class="site-button">{{ section.settings.button_text }}</a>
        </div>
      {% endif %}
      <div class="block-area">
        <div class="block-text">
          {% if section.settings.text1 != blank %}
            <p class="text fs-13 fw-500 font__Poppins m-0">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.70606 7.30713C1.38301 7.30804 1.06682 7.40039 0.794072 7.5735C0.521322 7.7466 0.303156 7.9934 0.164815 8.28532C0.0264738 8.57725 -0.0263893 8.90238 0.0123415 9.22309C0.0510724 9.54381 0.179814 9.84701 0.383673 10.0976L4.72946 15.4212C4.88441 15.6136 5.08303 15.7662 5.30882 15.8665C5.53462 15.9667 5.78106 16.0116 6.02769 15.9975C6.55518 15.9691 7.0314 15.687 7.33503 15.223L16.3623 0.684527C16.3638 0.682115 16.3654 0.679704 16.367 0.677328C16.4516 0.547275 16.4242 0.289544 16.2494 0.127634C16.2013 0.0831714 16.1447 0.049012 16.083 0.0272591C16.0212 0.00550627 15.9557 -0.00337947 15.8904 0.00114937C15.8251 0.00567821 15.7615 0.0235258 15.7033 0.0535926C15.6452 0.0836594 15.5938 0.125309 15.5524 0.175977C15.5492 0.17996 15.5458 0.183884 15.5424 0.187747L6.43823 10.4741C6.40358 10.5132 6.36151 10.5451 6.31445 10.5678C6.26738 10.5906 6.21627 10.6038 6.16407 10.6066C6.11188 10.6094 6.05964 10.6018 6.0104 10.5843C5.96116 10.5668 5.91589 10.5396 5.87723 10.5044L2.85573 7.75485C2.54192 7.46718 2.13176 7.30746 1.70606 7.30713Z" fill="#01BAC4"/>
              </svg>
              {{ section.settings.text1 }}
            </p>
          {% endif %}
          {% if section.settings.text2 != blank %}
            <p class="text fs-13 fw-500 font__Poppins m-0">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.70606 7.30713C1.38301 7.30804 1.06682 7.40039 0.794072 7.5735C0.521322 7.7466 0.303156 7.9934 0.164815 8.28532C0.0264738 8.57725 -0.0263893 8.90238 0.0123415 9.22309C0.0510724 9.54381 0.179814 9.84701 0.383673 10.0976L4.72946 15.4212C4.88441 15.6136 5.08303 15.7662 5.30882 15.8665C5.53462 15.9667 5.78106 16.0116 6.02769 15.9975C6.55518 15.9691 7.0314 15.687 7.33503 15.223L16.3623 0.684527C16.3638 0.682115 16.3654 0.679704 16.367 0.677328C16.4516 0.547275 16.4242 0.289544 16.2494 0.127634C16.2013 0.0831714 16.1447 0.049012 16.083 0.0272591C16.0212 0.00550627 15.9557 -0.00337947 15.8904 0.00114937C15.8251 0.00567821 15.7615 0.0235258 15.7033 0.0535926C15.6452 0.0836594 15.5938 0.125309 15.5524 0.175977C15.5492 0.17996 15.5458 0.183884 15.5424 0.187747L6.43823 10.4741C6.40358 10.5132 6.36151 10.5451 6.31445 10.5678C6.26738 10.5906 6.21627 10.6038 6.16407 10.6066C6.11188 10.6094 6.05964 10.6018 6.0104 10.5843C5.96116 10.5668 5.91589 10.5396 5.87723 10.5044L2.85573 7.75485C2.54192 7.46718 2.13176 7.30746 1.70606 7.30713Z" fill="#01BAC4"/>
              </svg>
              {{ section.settings.text2 }}
            </p>
          {% endif %}
          {% if section.settings.text3 != blank %}
            <p class="text fs-13 fw-500 font__Poppins m-0">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.70606 7.30713C1.38301 7.30804 1.06682 7.40039 0.794072 7.5735C0.521322 7.7466 0.303156 7.9934 0.164815 8.28532C0.0264738 8.57725 -0.0263893 8.90238 0.0123415 9.22309C0.0510724 9.54381 0.179814 9.84701 0.383673 10.0976L4.72946 15.4212C4.88441 15.6136 5.08303 15.7662 5.30882 15.8665C5.53462 15.9667 5.78106 16.0116 6.02769 15.9975C6.55518 15.9691 7.0314 15.687 7.33503 15.223L16.3623 0.684527C16.3638 0.682115 16.3654 0.679704 16.367 0.677328C16.4516 0.547275 16.4242 0.289544 16.2494 0.127634C16.2013 0.0831714 16.1447 0.049012 16.083 0.0272591C16.0212 0.00550627 15.9557 -0.00337947 15.8904 0.00114937C15.8251 0.00567821 15.7615 0.0235258 15.7033 0.0535926C15.6452 0.0836594 15.5938 0.125309 15.5524 0.175977C15.5492 0.17996 15.5458 0.183884 15.5424 0.187747L6.43823 10.4741C6.40358 10.5132 6.36151 10.5451 6.31445 10.5678C6.26738 10.5906 6.21627 10.6038 6.16407 10.6066C6.11188 10.6094 6.05964 10.6018 6.0104 10.5843C5.96116 10.5668 5.91589 10.5396 5.87723 10.5044L2.85573 7.75485C2.54192 7.46718 2.13176 7.30746 1.70606 7.30713Z" fill="#01BAC4"/>
              </svg>
              {{ section.settings.text3 }}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% comment %} End text contetn {% endcomment %}

    <div class="half-width image-content right-image {% if section.settings.layout == 'left_image' %} display-none {% endif %}">
      {% if section.settings.section_image != blank %}
        <img src="{{ section.settings.section_image | image_url: width: 1000 }}">
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "DDW image with textlist",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Heading image"
    },
    {
      "type": "header",
      "content": "Bottom text"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text1"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text2"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text3"
    },
    {
      "type": "image_picker",
      "id": "section_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "left_image",
          "label": "Left image"
        },
        {
          "value": "right_image",
          "label": "Right image"
        }
      ],
      "default": "right_image",
      "label": "Layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "block_text",
      "name": "Block text",
      "settings": [
        {
          "type": "richtext",
          "id": "block_text",
          "label": "Block text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "DDW image with textlist"
    }
  ]
}
{% endschema %}
