{% style %}
    {%- if section.settings.bck_image != blank -%}
         #shopify-section-{{section.id}} .section-content {
            background-image: url({{ section.settings.bck_image | image_url:width: 2048 }});
            background-size: cover;
            background-repeat: no-repeat;
        }
    {%- endif -%}
    #shopify-section-{{section.id}} .section-content {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    #shopify-section-{{section.id}} .faq_section{
        max-width: 850px;
        margin:40px auto;
    }
    #shopify-section-{{section.id}} .FaQ_Each{
        padding-bottom: 26px;
    }
    #shopify-section-{{section.id}} .box  {
        /*background: rgba(246, 246, 246, 1);*/
        padding-top: 15px;
        padding-bottom:15px;
        padding-left: 20px;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 1px rgb(var(--color-base-accent-2));
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    #shopify-section-{{section.id}} .draw {
        display: none;
        padding: 30px;
        padding-left:30px;
        border-radius: 10px;
        margin-top: 26px;
    }
    #shopify-section-{{section.id}} #other{
        display: none;
    }

    #shopify-section-{{section.id}} .section-header {
        text-align: center;
    }
    #shopify-section-{{section.id}} .faq_section .fa-plus {
        position: relative;
        display: flex;
        margin-left: 35px;
        margin-right: 10px;
    }
    #shopify-section-{{section.id}} .faq_section .fa-plus:before {
        content: "";
        width: 2px;
        height: 16px;
        position: absolute;
        right: 7px;
        transform: translateY(-50%);
        top: 50%;
        transition: all 0.3s ease-out;
        background: #000;
    }
    #shopify-section-{{section.id}} .faq_section .fa-plus:after {
        content: "";
        width: 16px;
        height: 2px;
        position: absolute;
        right: 0;
        background: #000;
        transform: translateY(-50%);
        top: 50%;
    }
    #shopify-section-{{section.id}} .draw .fa-plus:after { background: #fff; }
    #shopify-section-{{section.id}} .faq_section .draw .fa-plus:before {
        width: 0;
    }
    #shopify-section-{{section.id}} .faq_section .draw .fa-plus {
        margin-left: 17px;
    }
    #shopify-section-{{section.id}} .color-accent-1 .faq_section .fa-plus:before,
    #shopify-section-{{section.id}} .color-accent-1 .faq_section .fa-plus:after,
    #shopify-section-{{section.id}} .color-accent-2 .faq_section .fa-plus:before,
    #shopify-section-{{section.id}} .color-accent-2 .faq_section .fa-plus:after,
    #shopify-section-{{section.id}} .color-inverse .faq_section .fa-plus:before,
    #shopify-section-{{section.id}} .color-inverse .faq_section .fa-plus:after
    {
        background: #fff;
    }
    #shopify-section-{{section.id}} .faq_section .draw .answer-header {
        display: flex;
    }
    #shopify-section-{{section.id}} .faq_section .draw .answer {
        margin-top: 26px;
        padding-left: 25px;
    }
{% endstyle %}

<div class="section-content color-{{ section.settings.color_scheme }} {% if section.settings.gradient_scheme == 'yes' %}gradient{% endif %}">
    <div class="section-header">
        {% if section.settings.title != blank %}
            <div class="rich-text__heading font-bold rte {{ section.settings.font_size }}">{{ section.settings.title }}</div>
        {% endif %}
        {% if section.settings.subtitle != blank %}
            <div class="rich-text__heading h3">{{ section.settings.subtitle }}</div>
        {% endif %}
    </div>
    <div class="page-width faq_section">
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                <div class="FaQ_Each">
                    <section class="box">
                        <div class="fa-plus"></div>
                        {% if block.settings.question != blank %}
                            &nbsp;&nbsp;<div class="question {{ block.settings.font_size }}">{{ block.settings.question }}</div>
                        {% endif %}
                    </section>
                    <section class="draw color-{{ block.settings.color_scheme }}">
                        <section class="answer-header">
                            <div class="fa-plus"></div>
                            {% if block.settings.question != blank %}
                                <div class="question {{ block.settings.font_size }}">{{ block.settings.question }}</div>
                            {% endif %}
                        </section>
                        {% if block.settings.answer != blank %}
                            <div class="answer">{{ block.settings.answer }}</div>
                        {% endif %}
                    </section>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#shopify-section-{{section.id}} .box").click(function(){
            $(this).next().slideToggle("fast");
            $(this).find('i').toggle();
        });  
    });
</script>

{% schema %}
{
    "name": "FAQ",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "bck_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "font_size",
            "options": [
                {
                    "value": "h5",
                    "label": "XX-S"
                },
                {
                    "value": "h4",
                    "label": "X-S"
                },
                {
                    "value": "h3",
                    "label": "S"
                },
                {
                    "value": "h2",
                    "label": "M"
                },
                {
                    "value": "h1",
                    "label": "L"
                },
                {
                    "value": "h0",
                    "label": "X-L"
                }
            ],
            "default": "h2",
            "label": "Font size"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                },
                {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                },
                {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background-2",
                    "label": "t:sections.all.colors.background_2.label"
                },
                {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.all.colors.label"
        },
        {
            "type": "select",
            "id": "gradient_scheme",
            "options": [
                {
                    "value": "yes",
                    "label": "Yes"
                },
                {
                    "value": "no",
                    "label": "No"
                }
            ],
            "default": "no",
            "label": "Color gradient"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "faq",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question"
                },
                {
                    "type": "select",
                    "id": "font_size",
                    "options": [
                        {
                            "value": "h5",
                            "label": "XX-S"
                        },
                        {
                            "value": "h4",
                            "label": "X-S"
                        },
                        {
                            "value": "h3",
                            "label": "S"
                        },
                        {
                            "value": "h2",
                            "label": "M"
                        },
                        {
                            "value": "h1",
                            "label": "L"
                        },
                        {
                            "value": "h0",
                            "label": "X-L"
                        }
                    ],
                    "default": "h3",
                    "label": "Font size"
                },
                {
                    "type": "textarea",
                    "id": "answer",
                    "label": "Answer"
                },
                {
                    "type": "select",
                    "id": "color_scheme",
                    "options": [
                        {
                            "value": "accent-1",
                            "label": "t:sections.all.colors.accent_1.label"
                        },
                        {
                            "value": "accent-2",
                            "label": "t:sections.all.colors.accent_2.label"
                        },
                        {
                            "value": "background-1",
                            "label": "t:sections.all.colors.background_1.label"
                        },
                        {
                            "value": "background-2",
                            "label": "t:sections.all.colors.background_2.label"
                        },
                        {
                            "value": "inverse",
                            "label": "t:sections.all.colors.inverse.label"
                        }
                    ],
                    "default": "background-1",
                    "label": "t:sections.all.colors.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "FAQ"
        }
    ]
}
{% endschema %}