{% style %}
    #shopify-section-{{section.id}} .section-content {
        background: {{ section.settings.background_color }};
    }
    #shopify-section-{{section.id}} .section-content .section-main-container {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background: var(--site-linear-gradient);
    }
    #shopify-section-{{section.id}} .section-content .icon-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
    }
    #shopify-section-{{section.id}} .section-content .icon-wrap .icon {
        width: calc(100% / {{ section.settings.show_count }} - 80px);
        text-align: center;
    }
    #shopify-section-{{section.id}} .section-content .icon-wrap .icon-image {
        margin-bottom: 20px;
    }
    #shopify-section-{{section.id}} .section-content .icon-wrap .icon img {
        max-width: 70px;
    }
    #shopify-section-{{section.id}} .section-content .icon-wrap .icon .icon-text {
        color: {{ section.settings.font_color }};
    }
    #shopify-section-{{section.id}} .section-content .icon-wrap .icon .icon-text > p {
        margin: 0px;
    }
    @media(max-width: 768px) {
        #shopify-section-{{section.id}} .section-content .icon-wrap {
            gap: 40px;
        }
        #shopify-section-{{section.id}} .section-content .icon-wrap .icon {
            width: calc(50% - 40px);
            margin-bottom: 20px;
        }
    }
{% endstyle %}

<div class="section-content">
    <div class="section-main-container">
        <div class="icon-wrap page-width">
            {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    <div class="icon">
                        <div class="icon-image">
                            {% if block.settings.icon != blank %}
                                <img src="{{ block.settings.icon | image_url: width: 70 }}">
                            {% endif %}
                        </div>
                        {% if block.settings.text != blank %}
                            <div class="icon-text {{ block.settings.font_size }}">{{ block.settings.text }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Icon grid",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background"
        },
        {
            "type": "select",
            "id": "show_count",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ],
            "default": "3",
            "label": "Show count"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        },
        {
            "type": "color",
            "id": "font_color",
            "label": "Text color"
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "item",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "select",
                    "id": "font_size",
                    "options": [
                        {
                            "value": "h5",
                            "label": "XX-S"
                        },
                        {
                            "value": "h4",
                            "label": "X-S"
                        },
                        {
                            "value": "h3",
                            "label": "S"
                        },
                        {
                            "value": "h2",
                            "label": "M"
                        },
                        {
                            "value": "h1",
                            "label": "L"
                        },
                        {
                            "value": "h0",
                            "label": "X-L"
                        }
                    ],
                    "default": "h2",
                    "label": "Font size"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Icon grid"
        }
    ]
}
{% endschema %}