{% style %}
    {% if section.settings.background_image != blank %}
        #shopify-section-{{section.id}} .section-content {
            background-image: url({{ section.settings.background_image | image_url: width: 2000 }});
            background-size: cover;
        }
    {% endif %}
    #shopify-section-{{section.id}} .section-content {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    #shopify-section-{{section.id}} .section-content .image-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    #shopify-section-{{section.id}} .section-content .rich-text__heading {
        color: {{ section.settings.color }};
    }
    #shopify-section-{{section.id}} .section-content .image-wrap .icon {
        width: calc(100% / {{ section.settings.show_count }} - 20px);
        text-align: center;
        margin-bottom: 10px;
    }
    #shopify-section-{{section.id}} .section-content .image-wrap .icon-image {
        width: 100%;
        height: 100%;
    }
    #shopify-section-{{section.id}} .section-content .image-wrap .icon-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }
    #shopify-section-{{ section.id }} .review {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    #shopify-section-{{ section.id }} .review .star {
        font-size: 30px;
        letter-spacing: -1px;
    }
    #shopify-section-{{ section.id }} .review .number {
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
    }
    #shopify-section-{{section.id}} .section-button {
        text-align: center;
        margin-top: 10px;
    }
    #shopify-section-{{section.id}} .section-button a.button {
        width: auto;
        background: {{ section.settings.button_color }};
    }
    #shopify-section-{{section.id}} .image-wrap .section-button a.button {
        color: #000;
        font-size: 16px;
    }
    #shopify-section-{{section.id}} .image-wrap .icon {
        position: relative;
    }
    #shopify-section-{{section.id}} .image-wrap .section-button {
        width: 100%;
        position: absolute;
        bottom: 10px;
    }
    #shopify-section-{{section.id}} .rich-text__heading em {
        position: relative;
        font-style: initial;
    }
    #shopify-section-{{section.id}} .rich-text__heading em::before {
        content: "";
        width: 100%;
        height: 18px;
        background: #01b9c54d;
        position: absolute;
        bottom: -1px;
    }
    @media(max-width: 768px) {
        #shopify-section-{{section.id}} .section-content .image-wrap {
            gap: 20px;
        }
        #shopify-section-{{section.id}} .section-content .image-wrap .icon {
            width: calc(50% - 20px);
            margin-bottom: 0px;
        }
        #shopify-section-{{section.id}} .section-content .image-wrap .icon-image img {
            border-radius: 15px;
        }
        #shopify-section-{{ section.id }} .review .star {
            font-size: 19px;
        }
        #shopify-section-{{ section.id }} .review .number {
            font-size: 10px;
        }
    }
    @media(max-width: 500px) {
        #shopify-section-{{section.id}} .section-content .image-wrap {
            gap: 20px;
        }
        #shopify-section-{{section.id}} .section-content .image-wrap .icon {
            width: calc(100% - 20px);
            margin-bottom: 0px;
        }
        #shopify-section-{{section.id}} .section-content .image-wrap .icon-image img {
            border-radius: 30px;
        }
    }
{% endstyle %}

<div class="section-content">
    {% if section.settings.heading != blank %}
        <h2 class="rich-text__heading rte {{ section.settings.heading_size }} text-align-center font-bold" {{ section.shopify_attributes }}>
            {{ section.settings.heading | replace: 'p>', 'span>' }}
        </h2>
    {% endif %}

    <div class="section-main-container">
        <div class="image-wrap page-width">
            {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    <div class="icon">
                        <div class="icon-image">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | image_url: width: 500 }}">
                            {% endif %}
                        </div>
                        {% if block.settings.button_label != blank %}
                            <div class="section-button">
                                <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="site-button button button-primary" {{ block.shopify_attributes }}>
                                    {% if block.settings.button_icon != blank %}
                                        <img src="{{ block.settings.button_icon | image_url: width: 50 }}">
                                    {% endif %}
                                    <div style="margin-left: 7px;">{{ block.settings.button_label | escape }}</div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="review">
            <div class="star" style="color: {{ section.settings.review_color }}">
                <label>★</label>
                <label>★</label>
                <label>★</label>
                <label>★</label>
                <label>★</label>
            </div>
            <div class="number">5.0 / 5.0 RATED BY {{ section.settings.review_number }} REVIEWS</div>
        </div>
        {%- if section.settings.button_label != blank -%}
            <div class="section-button">
                <a{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="{{ section.settings.button_style }} button button-primary" {{ section.shopify_attributes }}>
                    {{ section.settings.button_label | escape }}
                </a>
            </div>
        {%- endif -%}
    </div>
</div>

{% schema %}
{
    "name": "Image grid",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background image"
        },
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Label"
        },
        {
            "type": "select",
            "id": "show_count",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ],
            "default": "3",
            "label": "Show count"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        },
        {
            "type": "header",
            "content": "Reviews"
        },
        {
            "type": "color",
            "id": "review_color",
            "label": "Review color"
        },
        {
            "type": "text",
            "id": "review_number",
            "label": "Review number"
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
            "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
            "type": "select",
            "id": "button_style",
            "options": [
                {
                "value": "site-button",
                "label": "Background"
                },
                {
                "value": "site-button_outline",
                "label": "outline"
                }
            ],
            "default": "site-button",
            "label": "Button style"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button color"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "default": "Button label",
                    "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
                    "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
                },
                {
                    "type": "image_picker",
                    "id": "button_icon",
                    "label": "Button icon"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image grid"
        }
    ]
}
{% endschema %}