{%- style -%}
    #shopify-section-{{section.id}} .section-main-container {
        position: relative;
        padding-top: {{ section.settings.padding_top}}px;
        padding-bottom: {{ section.settings.padding_bottom}}px;
    }
    #shopify-section-{{section.id}} .section-title,
    #shopify-section-{{section.id}} .sub-heading
    {
        text-align: center;
    }

    #shopify-block-loox-product-reviews,
    #shopify-section-{{section.id}} .section-content
    {
        background: {{ section.settings.app_color_scheme }};
    }
    .star {
      color: yellow !important;
    }
{%- endstyle -%}

<div class="section-content">
    <div class="section-main-container page-width">
        {% if section.settings.title != blank %}
            <div class="section-title {{ section.settings.font_size }}">{{ section.settings.title}}</div>
        {% endif %}
        {% if section.settings.subtitle != blank %}
            <h2 class="sub-heading h4">
                {{ section.settings.subtitle}}
            </h2>
        {% endif %}
    </div>
</dvi>

{% schema %}
{
    "name": "PDP loox review app",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Setting text"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "font_size",
            "options": [
                {
                    "value": "h5",
                    "label": "XX-S"
                },
                {
                    "value": "h4",
                    "label": "X-S"
                },
                {
                    "value": "h3",
                    "label": "S"
                },
                {
                    "value": "h2",
                    "label": "M"
                },
                {
                    "value": "h1",
                    "label": "L"
                },
                {
                    "value": "h0",
                    "label": "X-L"
                }
          ],
          "default": "h2",
          "label": "Font size"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "header",
            "content": "Setting section"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 20
        },
        {
            "type": "header",
            "content": "Setting Loox Review app"
        },
        {
            "type": "color",
            "id": "app_color_scheme",
            "label": "Background color"
        }
    ],
    "presets": [
        {
            "name": "PDP loox review app"
        }
    ]
}
{% endschema %}