{% style %}
    #shopify-section-{{section.id}} .section-content {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    #shopify-section-{{section.id}} .section-content .section-main-container {
        background: var(--site-linear-gradient);
    }
    #shopify-section-{{section.id}} .section-main-container {
        padding: 22px 0px;
        text-align: center;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #shopify-section-{{section.id}} .section-main-container .text p{ margin: 0px; }

    @media (max-width: 768px) {
        #shopify-section-{{section.id}} .section-main-container {
            flex-direction: column;
        }
    }
{% endstyle %}

<div class="section-content color-{{ section.settings.color_scheme }} {% if section.settings.gradient_scheme == 'yes' %}gradient{% endif %}">
    <div class="section-main-container">
        <div class="page-width">
            <div class="text"><div id='ddr_embed_text'></div></div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "PDP DDR TExt",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Settings section"
        },
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                },
                {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                },
                {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background-2",
                    "label": "t:sections.all.colors.background_2.label"
                },
                {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.all.colors.label"
        },
        {
            "type": "select",
            "id": "gradient_scheme",
            "options": [
                {
                    "value": "yes",
                    "label": "Yes"
                },
                {
                    "value": "no",
                    "label": "No"
                }
            ],
            "default": "no",
            "label": "Color gradient"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        }
    ],
    "presets": [
        {
            "name": "PDP DDR TExt"
        }
    ]
}
{% endschema %}