{% style %}
    #shopify-section-{{section.id}} .section-content {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background: {{ section.settings.background }};
    }
    #shopify-section-{{section.id}} .section-main-container {
        padding: 22px 0px;
        text-align: center;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #shopify-section-{{section.id}} #ddr_embed_text span {
        color: {{ section.settings.font_color }};
    }
    #shopify-section-{{section.id}} .section-main-container .text p{ margin: 0px; }

    @media (max-width: 768px) {
        #shopify-section-{{section.id}} .section-main-container {
            flex-direction: column;
        }
    }
{% endstyle %}

<div class="section-content">
    <div class="section-main-container">
        <div class="page-width">
            <div class="text"><div id='ddr_embed_text'></div></div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "PDP DDR TExt",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Settings section"
        },
        {
            "type": "color",
            "id": "background",
            "default": "#01B9C5",
            "label": "Background"
        },
         {
            "type": "color",
            "id": "font_color",
            "default": "#000",
            "label": "Font color"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        }
    ],
    "presets": [
        {
            "name": "PDP DDR TExt"
        }
    ]
}
{% endschema %}