{%- style -%}
#shopify-section-{{ section.id }} .marquee {
    background: {{ section.settings.bck_color }};
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --item-font-size: 10vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    margin: 40px 0px;
}
#shopify-section-{{ section.id }} .marquee__inner{
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial),0,0);
    animation: marquee 8s linear infinite;
    /* animation-play-state: paused; */
    padding: 16px 0px;
}
#shopify-section-{{ section.id }} .marquee span{
    white-space: nowrap;
    padding: 0 2vw 0px 15px;
    color: {{ section.settings.font_color }};
}
#shopify-section-{{ section.id }} .marquee:hover .marquee__inner{
    // animation-play-state: running;
	// opacity: 1;
	// transition-duration: 0.4s;
}
#shopify-section-{{ section.id }} .marquee .item-block {
    display: flex;
    align-items: center;
    just-content: space-between;
}
@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
{%- endstyle -%}

<div class="marquee">
    <div class="marquee__inner" aria-hidden="true">
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                <div class="item-block">
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | image_url: width: 200 }}">
                    {% endif %}
                    {% if block.settings.text != blank %}
                        <span class="box font_{{ section.settings.font_size }} {% if section.settings.font_weight == 'Bold' %}font-weight_bold{% endif %}">{{ block.settings.text }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Slide text banner",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "select",
            "id": "font_size",
            "options": [
                {
                    "value": "xxx-large",
                    "label": "xxx-large"
                },
                {
                    "value": "xx-large",
                    "label": "xx-large"
                },
                {
                    "value": "x-large",
                    "label": "x-large"
                },
                {
                    "value": "large",
                    "label": "large"
                },
                {
                    "value": "medium",
                    "label": "medium"
                },
                {
                    "value": "xx-small",
                    "label": "xx-small"
                },
                {
                    "value": "x-small",
                    "label": "x-small"
                },
                {
                    "value": "small",
                    "label": "small"
                }
            ],
            "default": "medium",
            "label": "Font size"
        },
        {
          "type": "select",
          "id": "font_weight",
          "options": [
            {
              "value": "Bold",
              "label": "Bold"
            },
            {
              "value": "Regular",
              "label": "Regular"
            }
          ],
          "default": "Regular",
          "label": "Font weight"
        },
        {
            "type": "color",
            "id": "bck_color",
            "default": "#FFF",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "font_color",
            "default": "#FFF",
            "label": "Font color"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Slide text banner"
        }
    ]
}
{% endschema %}