{% style %}
    #shopify-section-{{section.id}} .section-content {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    {% if section.settings.image != blank %}
        #shopify-section-{{section.id}} .section-content {
            background-color: transparent;
            background-image: url({{ section.settings.image | image_url: width: 2000 }});
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: bottom;
            margin-top: -220px;
        }
        #shopify-section-{{section.id}} .section-content .blocks {
            border: 1px solid #FFFFFF;
            box-shadow: 10px 14px 114px 10px rgba(0, 0, 0, 0.1), inset 61.1px -61.1px 61.1px rgba(194, 194, 194, 0.105), inset -61.1px 61.1px 61.1px rgba(255, 255, 255, 0.105);
            backdrop-filter: blur(119.756px);
            /* Note: backdrop-filter has minimal browser support */
            border-radius: 20px;
            padding: 50px 20px;
        }
    {% endif %}
    #shopify-section-{{ section.id }} .review {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    #shopify-section-{{ section.id }} .review .star {
        font-size: 30px;
        letter-spacing: -1px;
    }
    #shopify-section-{{ section.id }} .review .number {
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
    }
    #shopify-section-{{section.id}} .section-button {
        text-align: center;
        margin-top: 10px;
    }
    #shopify-section-{{section.id}} .section-button a.button {
        width: auto;
    }
    @media screen and (max-width: 749px) {
        #shopify-section-{{ section.id }} .review .star {
            font-size: 19px;
        }
        #shopify-section-{{ section.id }} .review .number {
            font-size: 10px;
        }
    }
{% endstyle %}

<div class="section-content color-{{ section.settings.color_scheme }} {% if section.settings.gradient_scheme == 'yes' %}gradient{% endif %}">
    <div class="section-main-container">
        <div class="wrapper page-width">
            {% if section.settings.title != blank %}
                <div class="section-title text-align-center font-{{section.settings.font_weight}} {{ section.settings.font_size }}">{{ section.settings.title}}</div>
            {% endif %}
            {% if section.settings.text != blank %}
                <p class="section-text text-align-center">{{ section.settings.text }}</p>
            {% endif %}
            <div class="blocks">
                {% if section.blocks.size > 0 %}
                    <table>
                        <tbody>
                    {% for block in section.blocks %}
                        <tr class="table-boday">
                            <td>{{ block.settings.title1 }}</td>
                            <td>{{ block.settings.title2 }}</td>
                            <td>{{ block.settings.title3 }}</td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="review">
                <div class="star"">
                    <label>★</label>
                    <label>★</label>
                    <label>★</label>
                    <label>★</label>
                    <label>★</label>
                </div>
                <div class="number">5.0 / 5.0 RATED BY {{ section.settings.review_number }} REVIEWS</div>
            </div>
            {%- if section.settings.button_label != blank -%}
                <div class="section-button">
                    <a{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="{{ section.settings.button_style }} button button-primary" {{ section.shopify_attributes }}>
                        {{ section.settings.button_label | escape }}
                    </a>
                </div>
            {%- endif -%}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Table section",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
          "type": "select",
          "id": "font_weight",
          "options": [
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "light",
              "label": "light"
            }
          ],
          "default": "light",
          "label": "Font weight"
        },
        {
            "type": "select",
            "id": "font_size",
            "options": [
                {
                    "value": "h5",
                    "label": "XX-S"
                },
                {
                    "value": "h4",
                    "label": "X-S"
                },
                {
                    "value": "h3",
                    "label": "S"
                },
                {
                    "value": "h2",
                    "label": "M"
                },
                {
                    "value": "h1",
                    "label": "L"
                },
                {
                    "value": "h0",
                    "label": "X-L"
                }
          ],
          "default": "h2",
          "label": "Font size"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                },
                {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                },
                {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background-2",
                    "label": "t:sections.all.colors.background_2.label"
                },
                {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.all.colors.label"
        },
        {
            "type": "select",
            "id": "gradient_scheme",
            "options": [
                {
                    "value": "yes",
                    "label": "Yes"
                },
                {
                    "value": "no",
                    "label": "No"
                }
            ],
            "default": "no",
            "label": "Color gradient"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 250,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 250,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        },
        {
          "type": "text",
          "id": "review_number",
          "label": "Review number"
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
            "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
            "type": "select",
            "id": "button_style",
            "options": [
                {
                "value": "site-button",
                "label": "Background"
                },
                {
                "value": "site-button_outline",
                "label": "outline"
                }
            ],
            "default": "site-button",
            "label": "Button style"
        }
    ],
    "blocks": [
        {
            "type": "cell",
            "name": "cell",
            "settings": [
                {
                    "type": "text",
                    "id": "title1",
                    "label": "Title1"
                },
                {
                    "type": "text",
                    "id": "title2",
                    "label": "Title2"
                },
                {
                    "type": "text",
                    "id": "title3",
                    "label": "Title3"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Table section"
        }
    ]
}
{% endschema %}