{% style %}
#shopify-section-{{section.id}} .page-full-width {
    margin: 0px 15px;
}
#shopify-section-{{section.id}} .section-title {
    text-align: center;
}
#shopify-section-{{section.id}} .section-content {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
}
#shopify-section-{{section.id}} .swiper {
    width: 100%;
    height: 100%;
}
#shopify-section-{{section.id}} .swiper-slide {
    flex-direction: column;
    text-align: left;
    font-size: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    -webkit-justify-content: baseline;
    justify-content: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    min-height: 270px;
    border-radius: 6px;
    position: relative;
}
#shopify-section-{{section.id}} .swiper-slide .client-review {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#shopify-section-{{section.id}} .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#shopify-section-{{section.id}} .swiper-slide .client_photo {
    width: 50px;
    height: 50px;
}
#shopify-section-{{section.id}} .swiper-slide .client_photo img {
    border-radius: 50%;
}
#shopify-section-{{section.id}} .swiper-slide .review_text {
    text-align: left;
    padding-bottom: 70px;
    color: #000;
    text-align: center;
}
#shopify-section-{{section.id}} .swiper-slide .user-group {
    display: flex;
    position: absolute;
    bottom: 45px;
}
#shopify-section-{{section.id}} .slide-footer {
    display: flex;
    text-align: left;
    margin-left: 12px;
}
#shopify-section-{{section.id}} .rate {
    display: flex;
    align-items: center;
}
#shopify-section-{{section.id}} .slide-footer .rate {
    display: flex;
}
#shopify-section-{{section.id}} .star-rating__current {
    letter-spacing: -1px;
    margin-right: 7px;
}
#shopify-section-{{section.id}} .star-rating__current span {
    color: #ABD92F;
    font-size: 27px;
}
#shopify-section-{{section.id}} .color-accent-1 .swiper-pagination-bullet {
    background: #fff;
}
@media (max-width: 768px) {
    #shopify-section-{{section.id}} .section-content {
        padding-bottom: 45px;
    }
}
{% if section.settings.image != blank %}
    #shopify-section-{{section.id}} .section-content {
        background-image: url({{ section.settings.image | image_url: width: 2000 }});
        background-repeat: no-repeat;
        background-size: cover;
    }
{% endif %}
{% endstyle %}

<div class="section-content color-{{ section.settings.color_scheme }}">
    <div class="page-full-width">
        {% if section.settings.title != blank %}
            <h1 class="section-title {{ section.settings.font_size }} font-bold">{{ section.settings.title }}</h1>
        {% endif %}

        <div class="swiper mySwiper testimonials page-width">
            <div class="swiper-wrapper">
                {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                        <div class="swiper-slide color-{{ section.settings.color_scheme }}">
                            <div class="client-review">
                                <div class="review-title">
                                    {% if block.settings.title != blank %}
                                        <h2 class="block-title font_medium">{{ block.settings.title }}</h2>
                                    {% endif %}
                                </div>
                                <div class="rate">
                                    <div class="star-rating__current">
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                    </div>
                                    <span class="font-bold">5.0</span>
                                </div>
                                <div class="review_text font_x-small">
                                    {% if block.settings.review_text != blank %}
                                        {{ block.settings.review_text }}
                                    {% endif %}
                                </div>
                                <div class="user-group">
                                    {% if block.settings.client_photo != blank %}
                                        <div class="client_photo">
                                            <img src="{{ block.settings.client_photo | image_url: width: 500 }}">
                                        </div>
                                    {% endif %}
                                    <div class="slide-footer">
                                        {% if block.settings.client_name != blank %}
                                            <div class="client_name h5">{{ block.settings.client_name }}</div>
                                        {% endif %}
                                        {% if block.settings.date != blank %}
                                            <div class="date h5">, {{ block.settings.date }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Testimonials",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Backgroun image"
        },
        {
            "type": "select",
            "id": "font_size",
            "options": [
                {
                    "value": "h5",
                    "label": "XX-S"
                },
                {
                    "value": "h4",
                    "label": "X-S"
                },
                {
                    "value": "h3",
                    "label": "S"
                },
                {
                    "value": "h2",
                    "label": "M"
                },
                {
                    "value": "h1",
                    "label": "L"
                },
                {
                    "value": "h0",
                    "label": "X-L"
                }
            ],
            "default": "h2",
            "label": "Font size"
        },
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                "value": "accent-1",
                "label": "t:sections.all.colors.accent_1.label"
                },
                {
                "value": "accent-2",
                "label": "t:sections.all.colors.accent_2.label"
                },
                {
                "value": "background-1",
                "label": "t:sections.all.colors.background_1.label"
                },
                {
                "value": "background-2",
                "label": "t:sections.all.colors.background_2.label"
                },
                {
                "value": "inverse",
                "label": "t:sections.all.colors.inverse.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.all.colors.label"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 150,
            "step": 10,
            "unit": "px",
            "label": "Margin bottom",
            "default": 60
        },
        {
            "type": "range",
            "id": "slide_autoplay_speed",
            "min": 1,
            "max": 60,
            "step": 1,
            "unit": "S",
            "label": "Autoplay speed",
            "default": 4
        }
    ],
    "blocks": [
        {
            "type": "client_review",
            "name": "Client review",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "image_picker",
                    "id": "client_photo",
                    "label": "Client photo"
                },
                {
                    "type": "text",
                    "id": "client_name",
                    "label": "Client name"
                },
                {
                    "type": "textarea",
                    "id": "review_text",
                    "label": "Client review"
                },
                {
                    "type": "text",
                    "id": "date",
                    "label": "Date"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Testimonials"
        }
    ]
}
{% endschema %}

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper("#shopify-section-{{section.id}} .mySwiper", {
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        autoplay: {
            delay: {{ section.settings.slide_autoplay_speed }}*1000,
        },
        breakpoints: {
            // when window width is >= 480px
            480: {
                slidesPerView: 1
            },
            // when window width is >= 768px
            768: {
                slidesPerView: 2
            },
            // when window width is >= 640px
            1000: {
                slidesPerView: 3
            }
        }
    });
</script>