{% style %}
#shopify-section-{{section.id}} .section-content {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
#shopify-section-{{ section.id }} .swiper {
    width: 100%;
    height: 100%;
}
#shopify-section-{{ section.id }} .swiper-slide {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#shopify-section-{{ section.id }} .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#shopify-section-{{ section.id }} .swiper-button-next,
#shopify-section-{{ section.id }} .swiper-button-prev {
    display: block;
    opacity: 1;
}
#shopify-section-{{ section.id }} .double_comma { position: absolute; }
#shopify-section-{{ section.id }} .swiper-button-next {
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    border-radius: 50%;
}
#shopify-section-{{ section.id }} .swiper-button-next:after {
    font-size: 20px;
    color: #000;
}
#shopify-section-{{ section.id }} .swiper-button-prev {
    width: 60px;
    height: 60px;
    background: transparent;
    border: solid 1px #fff;
    border-radius: 50%;
    display: flex;
}
#shopify-section-{{ section.id }} .swiper-button-prev:after {
    font-size: 20px;
    color: #fff;
}
#shopify-section-{{ section.id }} .text-say,
#shopify-section-{{ section.id }} .user_name
{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}
@media (max-width: 1000px) {
    #shopify-section-{{ section.id }} .text-say,
    #shopify-section-{{ section.id }} .user_name
    {
        width: auto;
        margin: 0 35px;
    }
}
{% endstyle %}

<!-- Swiper -->
<div class="section-content color-{{ section.settings.color_scheme }} {% if section.settings.gradient_scheme == 'yes' %}gradient{% endif %}">
    <div class="swiper mySwiper page-width">
        <div class="double_comma"><img src="{{ 'double_comma.png' | asset_url }}"></div>
        <div class="swiper-wrapper">
            {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    <div class="swiper-slide">
                        {% if block.settings.text != blank %}
                            <div class="text-say {{ block.settings.font_size }}">{{ block.settings.text }}</div>
                        {% endif %}
                        {% if block.settings.user_name != blank %}
                            <div class="user_name h3">{{ block.settings.user_name }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

{% schema %}
{
    "name": "Text slide",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                },
                {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                },
                {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background-2",
                    "label": "t:sections.all.colors.background_2.label"
                },
                {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.all.colors.label"
        },
        {
            "type": "select",
            "id": "gradient_scheme",
            "options": [
                {
                    "value": "yes",
                    "label": "Yes"
                },
                {
                    "value": "no",
                    "label": "No"
                }
            ],
            "default": "no",
            "label": "Color gradient"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 60
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "item",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "select",
                    "id": "font_size",
                    "options": [
                        {
                            "value": "h5",
                            "label": "XX-S"
                        },
                        {
                            "value": "h4",
                            "label": "X-S"
                        },
                        {
                            "value": "h3",
                            "label": "S"
                        },
                        {
                            "value": "h2",
                            "label": "M"
                        },
                        {
                            "value": "h1",
                            "label": "L"
                        },
                        {
                            "value": "h0",
                            "label": "X-L"
                        }
                    ],
                    "default": "h2",
                    "label": "Font size"
                },
                {
                    "type": "text",
                    "id": "user_name",
                    "label": "User name"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text slide"
        }
    ]
}
{% endschema %}

<!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper("#shopify-section-{{ section.id }} .mySwiper", {
        autoplay: {
            delay: 5000,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>